html, body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #FFFFFF; }
  html h1, body h1 {
    font-size: 50px;
    font-weight: 600; }
  html h2, body h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px; }
    html h2:after, body h2:after {
      display: block;
      margin: 20px auto;
      content: '';
      border-bottom: 3px solid;
      width: 40px; }
  html h3, body h3 {
    font-size: 20px;
    font-weight: bold; }
  html h4:after, body h4:after {
    display: block;
    margin: 20px auto;
    content: '';
    border-bottom: 4px solid #ED1C24;
    width: 30px; }
  html .header-small, body .header-small {
    background-color: #000000;
    height: 65px;
    border-bottom: 2px solid #ED1C24;
    position: fixed;
    -ms-transform: translate(0, -10px);
    /* IE 9 */
    -webkit-transform: translate(0, -10px);
    /* Safari */
    transform: translate(0, -10px);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 100%;
    z-index: 2; }
    html .header-small nav.navbar-default .navbar-header a.logo-gd img, body .header-small nav.navbar-default .navbar-header a.logo-gd img {
      max-width: 140px;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
  html .internal-header, body .internal-header {
    background-color: #000000;
    padding: 12px;
    height: 65px; }
  html .internal-header.header-small, body .internal-header.header-small {
    padding: 20px; }
  html header, body header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    html header nav.navbar-default, body header nav.navbar-default {
      background-color: transparent;
      border: none;
      margin: 0;
      left: 0;
      position: fixed;
      width: 100%; }
      html header nav.navbar-default .navbar-header button.navbar-toggle, body header nav.navbar-default .navbar-header button.navbar-toggle {
        margin-top: 0; }
      html header nav.navbar-default .navbar-header a.logo-gd img, body header nav.navbar-default .navbar-header a.logo-gd img {
        max-width: 170px;
        margin-left: 15px; }
      html header nav.navbar-default .navbar-collapse, body header nav.navbar-default .navbar-collapse {
        background-color: #ED1C24;
        border-color: transparent; }
        html header nav.navbar-default .navbar-collapse ul li, body header nav.navbar-default .navbar-collapse ul li {
          border-bottom: 2px solid #FFFFFF; }
          html header nav.navbar-default .navbar-collapse ul li:last-child, body header nav.navbar-default .navbar-collapse ul li:last-child {
            border-bottom: none; }
          html header nav.navbar-default .navbar-collapse ul li a, body header nav.navbar-default .navbar-collapse ul li a {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: bold; }
  html .home-video, body .home-video {
    overflow: hidden;
    padding: 80px 0 0 0;
    background-image: url(../img/intro.png);
    background-size: cover;
    background-position: center;
    background-color: #000000; }
    html .home-video .title-home-video, body .home-video .title-home-video {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: #FFFFFF; }
      html .home-video .title-home-video .home-title span, body .home-video .title-home-video .home-title span {
        background-color: #ED1C24;
        padding: 0 10px 5px;
        font-size: 40px;
        font-weight: 500; }
      html .home-video .title-home-video .video-quote p, body .home-video .title-home-video .video-quote p {
        font-style: italic;
        font-size: 17px;
        margin-top: 20px; }
        html .home-video .title-home-video .video-quote p:after, body .home-video .title-home-video .video-quote p:after {
          content: "\e908";
          font-family: 'icomoon' !important;
          font-size: 20px;
          font-style: normal;
          display: block; }
    html .home-video .video-container-gd, body .home-video .video-container-gd {
      width: 100%;
      position: relative; }
      html .home-video .video-container-gd .overlay-dot, body .home-video .video-container-gd .overlay-dot {
        content: '';
        background-color: #000000;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        overflow: hidden; }
      html .home-video .video-container-gd video, body .home-video .video-container-gd video {
        display: block; }
  html .what-we-do, body .what-we-do {
    background-color: #000000;
    color: #FFFFFF;
    border-top: 6px solid #ED1C24;
    padding: 20px 0 40px 0; }
    html .what-we-do h2:after, body .what-we-do h2:after {
      color: #ED1C24; }
    html .what-we-do h3, body .what-we-do h3 {
      margin: 20px 0; }
      html .what-we-do h3:before, body .what-we-do h3:before {
        font-family: 'icomoon' !important;
        font-weight: 300;
        font-size: 50px;
        vertical-align: middle;
        padding-right: 18px; }
    html .what-we-do p, body .what-we-do p {
      color: #AAAAAA; }
    html .what-we-do .what-we-do-title p, body .what-we-do .what-we-do-title p {
      text-align: center;
      margin: 30px 0; }
    html .what-we-do .interaction-design-company, body .what-we-do .interaction-design-company {
      text-align: center; }
      html .what-we-do .interaction-design-company h3:before, body .what-we-do .interaction-design-company h3:before {
        content: "\e903";
        display: block; }
    html .what-we-do .google-cloud-platform, body .what-we-do .google-cloud-platform {
      text-align: center; }
      html .what-we-do .google-cloud-platform h3:before, body .what-we-do .google-cloud-platform h3:before {
        content: "\e902";
        display: block; }
    html .what-we-do .enterprise-banking-portals, body .what-we-do .enterprise-banking-portals {
      text-align: center; }
      html .what-we-do .enterprise-banking-portals h3:before, body .what-we-do .enterprise-banking-portals h3:before {
        content: "\e901";
        display: block; }
    html .what-we-do .data-science, body .what-we-do .data-science {
      text-align: center; }
      html .what-we-do .data-science h3:before, body .what-we-do .data-science h3:before {
        content: "\e900";
        display: block; }
  html .our-partnerships, body .our-partnerships {
    background-color: #EEEEEE;
    padding: 20px 0 40px 0;
    text-align: center; }
    html .our-partnerships h2, body .our-partnerships h2 {
      color: #000000; }
      html .our-partnerships h2:after, body .our-partnerships h2:after {
        color: #ED1C24; }
    html .our-partnerships img, body .our-partnerships img {
      margin: 0 auto;
      max-width: 200px; }
    html .our-partnerships p, body .our-partnerships p {
      border-top: 2px solid red;
      padding: 20px 0;
      margin: 20px 0; }
  html .our-clients, body .our-clients {
    background: url(../img/bg-our-clients.png) center center;
    background-size: cover;
    height: 350px;
    padding: 20px 0 40px 0; }
    html .our-clients .bx-wrapper, body .our-clients .bx-wrapper {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin: 0 auto; }
      html .our-clients .bx-wrapper img, body .our-clients .bx-wrapper img {
        padding: 25px 50px; }
  html .medium-blog, body .medium-blog {
    background-color: #000000;
    text-align: center;
    padding: 20px 0 40px 0; }
    html .medium-blog img, body .medium-blog img {
      max-width: 60px; }
    html .medium-blog p, body .medium-blog p {
      color: #FFFFFF;
      margin: 30px; }
    html .medium-blog button, body .medium-blog button {
      padding: 9px 43px;
      border-radius: 4px;
      color: #000000; }
  html .we-are-hiring, body .we-are-hiring {
    background-color: #ED1C24;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0 40px 0; }
    html .we-are-hiring button, body .we-are-hiring button {
      padding: 9px 23px;
      border-radius: 4px;
      color: #000000; }
    html .we-are-hiring p, body .we-are-hiring p {
      color: #FFFFFF;
      margin: 30px; }
  html .we-are-hiring.internal-we-are-hiring, body .we-are-hiring.internal-we-are-hiring {
    padding: 80px 0 0 0; }
  html .tabs-carrers ul, body .tabs-carrers ul {
    border: none;
    background-color: #ED1C24;
    padding: 2px 50px;
    text-align: center; }
    html .tabs-carrers ul li, body .tabs-carrers ul li {
      width: 100%; }
      html .tabs-carrers ul li.active, body .tabs-carrers ul li.active {
        border: none; }
      html .tabs-carrers ul li a, body .tabs-carrers ul li a {
        color: #FFFFFF;
        font-size: 20px;
        background-color: transparent; }
  html .tabs-carrers .tab-content .tab-pane .panel-group, body .tabs-carrers .tab-content .tab-pane .panel-group {
    margin-bottom: 0; }
    html .tabs-carrers .tab-content .tab-pane .panel-group .panel, body .tabs-carrers .tab-content .tab-pane .panel-group .panel {
      border: none; }
      html .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading, body .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading {
        text-align: center;
        background-color: #FFFFFF;
        padding: 50px 0; }
        html .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading h4, body .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading h4 {
          font-size: 20px; }
        html .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading i, body .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading i {
          color: #ED1C24;
          font-size: 20px; }
      html .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading.panel-gray, body .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-heading.panel-gray {
        background-color: #EEEEEE;
        padding: 50px 0; }
      html .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-collapse .panel-body, body .tabs-carrers .tab-content .tab-pane .panel-group .panel .panel-collapse .panel-body {
        border: none; }
  html .contact-us, body .contact-us {
    background-color: #000000;
    text-align: center;
    padding: 60px 0 40px 0; }
    html .contact-us p, body .contact-us p {
      color: #AAAAAA;
      margin: 0; }
    html .contact-us .contact-us-title p, body .contact-us .contact-us-title p {
      color: #AAAAAA;
      margin: 30px; }
    html .contact-us .contact-us-title h2:after, body .contact-us .contact-us-title h2:after {
      color: #ED1C24; }
    html .contact-us .contact-us-title a, body .contact-us .contact-us-title a {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer; }
      html .contact-us .contact-us-title a:hover, body .contact-us .contact-us-title a:hover {
        text-decoration: line-through #ED1C24;
        -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        transition: 1s ease-in; }
      html .contact-us .contact-us-title a:focus, body .contact-us .contact-us-title a:focus {
        color: #ED1C24; }
      html .contact-us .contact-us-title a:active, body .contact-us .contact-us-title a:active {
        color: #ED1C24; }
      html .contact-us .contact-us-title a:visited, body .contact-us .contact-us-title a:visited {
        color: #ED1C24; }
    html .contact-us .contact-us-title .form-horizontal, body .contact-us .contact-us-title .form-horizontal {
      display: none; }
      html .contact-us .contact-us-title .form-horizontal input, body .contact-us .contact-us-title .form-horizontal input {
        width: 100%;
        background: transparent;
        background-clip: padding-box;
        border: none;
        border-radius: 1px;
        font-size: 14px;
        height: 32px;
        line-height: 1.42857143;
        padding: 0 25px;
        vertical-align: baseline;
        box-sizing: border-box;
        border-bottom: 1px solid #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold; }
        html .contact-us .contact-us-title .form-horizontal input::placeholder, body .contact-us .contact-us-title .form-horizontal input::placeholder {
          color: #FFFFFF; }
      html .contact-us .contact-us-title .form-horizontal:before, body .contact-us .contact-us-title .form-horizontal:before {
        content: "\e908";
        font-family: 'icomoon' !important;
        font-size: 20px;
        display: block;
        color: white;
        transform: rotate(180deg);
        padding: 15px 0; }
      html .contact-us .contact-us-title .form-horizontal button, body .contact-us .contact-us-title .form-horizontal button {
        background-color: #ED1C24;
        border: none;
        color: #FFFFFF;
        padding: 15px 55px;
        margin: 30px; }
    html .contact-us ul, body .contact-us ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      html .contact-us ul:after, body .contact-us ul:after {
        border-bottom: 6px solid;
        color: #ED1C24;
        content: '';
        display: block;
        margin: 30px auto;
        width: 40px; }
      html .contact-us ul li, body .contact-us ul li {
        display: inline-block; }
        html .contact-us ul li a, body .contact-us ul li a {
          font-size: 30px;
          padding: 0 10px;
          color: #FFFFFF; }
        html .contact-us ul li img, body .contact-us ul li img {
          width: 30px;
          margin-top: -10px; }
  html footer, body footer {
    background-color: #000000;
    border-top: 3px solid #FFFFFF;
    font-size: 12px;
    padding: 20px 0;
    text-align: center; }
    html footer .habeas-data, body footer .habeas-data {
      color: #FFFFFF; }
    html footer .all-rights, body footer .all-rights {
      color: #AAAAAA; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #FFFFFF;
  border: none;
  border-bottom: 3px solid;
  font-weight: bold;
  background-color: transparent; }

.nav-tabs > li > a:hover {
  border-color: transparent;
  border-bottom: 3px solid;
  background-color: transparent; }

/*# sourceMappingURL=custom.css.map */
